@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Public+Sans:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 56px 10%;
}

.container {
    border: 2px solid #e8e8e9;
    padding: 5px 24px;
    margin: 48px auto;
    border-radius: 8px;
}

.color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 120px;
    border-radius: 8px;
}

.yellow-red {
    background-color: #f6bd60;
}

.linen {
    background-color: #F7EDE2;
}

.baby-pink {
    background-color: #F5CAC3;
}

.morning-blue {
    background-color: #84A59D;
    color: white;
}

.light-coral {
    background-color: #F28482;
}

.color-label {
    font-weight: 500;
}

.color-hex {
    opacity: 0.40;
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 0.05em;
}

.font-panel {
    width: 45%;
    padding: 0 16px 0 0;
    display: inline-block;
}

.font-label {
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.inter {
    font-family: 'Inter', sans-serif;
}

.public-sans {
    font-family: 'Public Sans', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.text-panel h1 {
    font-weight: 700;
    font-size: 32px;
}

.text-panel h2 {
    font-weight: 700;
    font-size: 24px;
}

.text-panel p {
    font-weight: 400;
    font-size: 16px;
}